.signup-page {
    .container {
        width: 60%;
        .card{
            width: 60%;
            margin-top: 150px;
       }
        .signup-header {
            .link-text {
                color: #3d9b84;
                text-decoration: none;
            }
        }
        .btn {
            background-color: #3d9b84;
        }
    }
}
