.verification-page {
  .container {
    width: 60%;
   
    .card{
      width: 70%;
      margin-top: 150px;
 }
    .verification-header {
        margin-bottom: 50px;
    }

    .btn {
      background-color: #3d9b84;
    }
  }
}
