.profile-page {
  background: #c5c0bc;
 
  .container {
    .bio-card {
      width: 320px;
      border-radius: 16px 0px;
      background: #f1ebe5;
      hr{
        border: 2px solid  #3d9b84;
      }
      .custom-circle-image {
        width: 10vw; /* note i used vw not px for better responsive */
        height: 10vw;
      }

      .custom-circle-image img {
        object-fit: cover;
      }
      .card-body {
        align-items: flex-end;
      }

      .card-title {
        font-weight: 600;
        font-size: 17px;
        line-height: 25px;
      }

      .card-text {
        font-size: 14px;
        line-height: 21px;
        line-height: initial;
      }
      .business-name {
        color: #3d9b84;
      }
      .btn {
        background-color: #3d9b84;
        border-radius: 12px 0px;
      }
      .number-container {
        height: 30px;
        width: 30px;
        background: #b5ddd4;
        p{
          color: #3d9b84;
        }
      }
      .number-container-1 {
        height: 30px;
        width: 30px;
        background: #FFE2E5;
        p{
          color: 
          #F64E60;
        }
      }
      .underline{
        text-decoration: underline;
      }
      .domisili{
        font-weight: bold;
      }
      .kuliner{
        font-weight:bold;
      }
    }
    .stage-card-1 {
      background-color: #f1ebe5;
      height: 423px;
      width: 280px;
      margin-right: 20px;
      border-radius: 16px 0px;
      background: #936ba7;
      color: #fff;

      label {
        font-size: 12px;
      }
    }
    .stage-card-2 {
      background-color: #f1ebe5;
      height: 423px;
      width: 280px;
      border-radius: 16px 0px;
      background: #eb8b7f;
      color: #fff;

      label {
        font-size: 12px;
      }
    }
    .stage-card-3 {
      background-color: #f1ebe5;
      height: 423px;
      width: 280px;
      border-radius: 16px 0px;
      background: #fdab55;
      color: #fff;

      label {
        font-size: 12px;
      }
    }
    .stage-card-4 {
      background-color: #f1ebe5;
      height: 423px;
      width: 280px;
      border-radius: 16px 0px;
      margin-bottom: 20px;
      background: #0071b5;
      color: #fff;

      label {
        font-size: 12px;
      }
    }
  }
}
