.sidebar-login {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3d9b84;
    overflow-x: hidden;
    padding-top: 20px;
    .sidebar-login-content {
        .sidebar-logo {
            color: #fff;
        }
        hr {
            border-top: 1px solid #eee;
            width: 80%;
        }
        .sidebar-login-nav {
            .nav-link {
                display: block;
                color: #f1ebe5;
                padding: 16px;
                text-decoration: none;
                opacity: 0.6;
                font-weight: 600;
                font-size: 13px;
                line-height: 19px;
               
            }
            .active {
                color: #f1ebe5;
                opacity: 2;
            }
            .nav-link:hover {
                color: #f1ebe5;
            }
        }
        .sidebar-footer {
            position: absolute;
            bottom: 0;
            left: 10%;
            color: #fff;
            p {
                font-size: 12px;
                margin-left: 20px;
            }
        }
    }
}
