.konsultasi-page {
  background: #eef0f8;

  .container-fluid {
    padding: 0;
    background-color: transparent;
    padding-bottom: 180px;
  }
  
  .card {
    margin-top: 50px;
    width: 70%;
    background: #f1ebe5;

    margin-right: 61px;
    border-radius: 32px 0px;
    margin-bottom: 50px;
    .container{
      width: 95%;
      .table {
        background-color: #f1ebe5;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 70px;
        border-collapse: collapse;
        border-radius: 6px;
        overflow: hidden;
        thead {
          background-color: #3d9b84;
          color: #fff;
          th {
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
          }
        }
        tbody {
          .square {
            height: 30px;
            width: 30px;
            background: #90ccbd;
          }
          .icon {
            color: #3d9b84;
            line-height: 40px;
          }
          td {
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
          }
        }
      }
    }
    }
    
}
