.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3d9b84;
  overflow-x: hidden;
  padding-top: 20px;
  .sidebar-content {
    padding-top: 120px;
    .sidebar-logo {
      margin-bottom: 50px;
    }
    .tagline{
      color: #F1EBE5;
      font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
    }
    
    .sidebar-footer {
      position: absolute;
      bottom: 0;
      left: 10%;
      color: #fff;
      p {
        font-size: 12px;
        margin-left: 20px;
      }
    }
  }
}
