.dashboard-page{
  background: #C5C0BC;

    padding-top: 50px;
    .container-fluid{
        padding:0;
      .card{
         width: 80%;
         border-radius: 32px 0px;
         margin-right: 11px;
         background:  #F1EBE5;
          margin-bottom: 50px;
         .card-content{
            .card-header{
              h5{

              }
              p{
                
              }
            }
         }
      }
    }
}